%h3 Products#index
%table.table.table-striped
  %thead
    %tr
      %td #
      %td Nazwa Produktu
      %td Cena
      %td Opis
      %td Promocja?
      %td Zdjęcie
      %td Akcja
  %tbody
    -@products.each do |product|
      %tr
      %td= product.id
      %td= product.name
      %td= number_to_currency(product.price, unit: 'zł', precision: 2, format: "%n %u")
      %td= product.description
      %td= product.sale
      %td= product.picture
      %td 
        = link_to "Edytuj", edit_product_path(product), class: "btn btn-primary btn-xs"
        = link_to "Pokaż", product_path(product), class: " btn btn-default btn-xs"
