%h1 Products#index
.table-responsive
  %table.table.table-bordered
    %tr
      %td #
      %td Nazwa Produktu
      %td Cena
      %td Opis
      %td Promocja?
      %td Zdjęcie
    -@products.each do |t|
      %tr
      %td= t.id
      %td= t.name
      %td= t.price
      %td= t.description
      %td= t.sale
      %td= t.picture
