%h1 Product#new
%h2 kupa
= form_for @products do |f|
  = f.label :name ,"Nazwa"
  = f.text_field :name
  %br
  = f.label :price ,"Cena"
  = f.text_field :price
  %br
  = f.label :description ,"Opis"
  = f.text_field :description
  %br
  = f.label :picture ,"Wygląd"
  = f.text_field :picture
  %br
  = f.submit "Dodaj Produkt"

